*.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x1_y2.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x1_y3.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x1_y4.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x1_y5.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x1_y6.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x2_y2.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x2_y3.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x2_y6.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x3_y2.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x3_y6.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x4_y3.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x4_y4.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x4_y5.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x4_y6.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x5_y6.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x6_y6.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x7_y4.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x7_y5.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x7_y6.umap filter=lfs diff=lfs merge=lfs -text
